
<h3>Post Edit Form</h3>

<%= form_for(@post) do |f|%>
<div>
<%= f.label "Post Title" %>
<%= f.text_field :title%><br><br>
<%= f.label 'Post Description:' %>
<%= f.text_area :description%>
</div><br>
<%= f.submit "Update Post" %>

<% end %>

<style>/*
<h3>Post Form</h3>

<%= form_tag post_path(@post), method: "put" do %>
  <label>Post title:</label><br>
  <%= text_field_tag :title, @post.title %><br>

  <label>Post Description</label><br>
  <%= text_area_tag :description, @post.description %><br>
  
  <%= submit_tag "Submit Post" %>
<% end %>
*/</style>